<div class="navbar bg-base-100 ">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">BookStore</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li *ngIf="!isAdmin"><a routerLink="/books">Books</a></li>
      <li *ngIf="isAdmin">
        <details>
          <summary>
            Admin
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><a routerLink="/admin/dashboard">Dashboard</a></li>
            <li><a routerLink="/admin/books">Books</a></li>
            <li><a routerLink="/admin/students">Students</a></li>
          </ul>
        </details>
      </li>
      <li>
        <button (click)="logout()">
          <img alt="logout" src="../../../../assets/logout-icon.svg">
        </button>

      </li>

    </ul>
  </div>
</div>
