<div class="navbar bg-base-100 ">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">BookStore</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li *ngIf="!isAdmin"><a>Books</a></li>
      <li *ngIf="isAdmin">
        <details>
          <summary>
            Admin
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><a routerLink="/admin/dashboard">Dashboard</a></li>
            <li><a routerLink="/admin/reservation">Reservation</a></li>
            <li><a routerLink="/admin/books">Books</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
