<div class="w-full p-4">
  <h1 class="text-3xl font-bold">Register New User</h1>
  <form #bookForm="ngForm" class="grid grid-cols-3">

    <!-- Username -->
    <label class="form-control w-full max-w-xs mt-4">
      <div class="label">
        <span class="label-text">Username</span>
      </div>
      <input [(ngModel)]="student.username" class="input input-bordered w-full max-w-xs" name="username"
             placeholder="Enter Username" required type="text"/>
    </label>

    <!-- Email -->
    <label class="form-control w-full max-w-xs mt-4">
      <div class="label">
        <span class="label-text">Email</span>
      </div>
      <input [(ngModel)]="student.email" class="input input-bordered w-full max-w-xs" name="email"
             placeholder="Enter Email address" required type="text"/>
    </label>

    <!-- Password -->
    <label class="form-control w-full max-w-xs mt-4">
      <div class="label">
        <span class="label-text">Password</span>
      </div>
      <input [(ngModel)]="student.password" class="input input-bordered w-full max-w-xs" name="password"
             placeholder="Enter User password" required type="password"/>
    </label>

    <label class="form-control w-full max-w-xs mt-4">
      <div class="label">
        <span class="label-text">Who is he/she?</span>
      </div>
      <select [(ngModel)]="student.who" class="select select-bordered" name="who" required>
        <option disabled selected value="">Select an option</option>
        <option *ngFor="let type of who" [value]="type">{{ type }}</option>
      </select>
    </label>

    <!-- Is Admin -->
    <div class="form-control mt-12">
      <label class="label cursor-pointer">
        <div class="label cursor-pointer">
          <span class="label-text">Is Admin</span>
          <input [(ngModel)]="student.isAdmin" class="checkbox checkbox-primary ml-2" name="isAdmin" type="checkbox"/>
        </div>
      </label>
    </div>


    <!-- Submit Button -->

  </form>
  <div class="flex justify-between mt-12 gap-4 max-w-xs w-full">
    <button (click)="onSubmitClick(bookForm)" class="btn btn-success w-full max-w-xs"
            type="button">
      Register
    </button>

  </div>
</div>
