<div class="w-full p-4">
  <div class="flex justify-between items-center">
    <h1 class="text-3xl font-bold">All students</h1>
    <a class="btn btn-success" routerLink="/admin/student/new">Register Student</a>
  </div>
  <div *ngIf="isLoading" class="flex justify-center items-center">
    <span *ngIf="isLoading" class="loading loading-dots loading-lg"></span>
  </div>
  <div class="w-full">

    <div class="overflow-x-auto"
    >
      <table class="table">
        <!-- head -->
        <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
          <th>Who</th>
          <th>IsAdmin</th>
        </tr>
        </thead>
        <tbody>
        <!-- row 1 -->
        <tr *ngFor="let student of students; let i = index">
          <th>{{ i + 1 }}</th>
          <td>{{ student.username }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.who }}</td>
          <td>
            <span *ngIf="student.isAdmin; else cross">✔️</span>
            <ng-template #cross>❌</ng-template>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
